.box {
    background-color: black;
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.top, .bottom {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}

.top {
    margin-bottom: 30px;
}

.contaiener {
    width: 1140px;
    margin: 0 auto;
}

.bottom {
    text-align: center;
}
